project/flows.json
[
    {
        "id": "bc6d1560.efb27",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "78b32d7f.c091b4",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"source\": 1, \"target\":100, \"time\": 2000}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "a5756113.64b03"
            ]
        ]
    },
    {
        "id": "7c97bf10.e4d49",
        "type": "debug",
        "z": "bc6d1560.efb27",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 770,
        "y": 20,
        "wires": []
    },
    {
        "id": "e55f89ab.6f1ec8",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"source\": [255,0,0], \"target\":[0,255,0], \"time\": 2000}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a5756113.64b03"
            ]
        ]
    },
    {
        "id": "8cf1d7e9.bd02a",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"target\":0, \"time\": 2000}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "a5756113.64b03"
            ]
        ]
    },
    {
        "id": "663ce37d.356f64",
        "type": "change",
        "z": "bc6d1560.efb27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map(payload, function($x) {$round($x)})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "a69683f.d3cc68"
            ]
        ]
    },
    {
        "id": "a69683f.d3cc68",
        "type": "debug",
        "z": "bc6d1560.efb27",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "9f762541.7559b",
        "type": "switch",
        "z": "bc6d1560.efb27",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "663ce37d.356f64"
            ],
            [
                "a69683f.d3cc68"
            ]
        ]
    },
    {
        "id": "a5756113.64b03",
        "type": "ramp",
        "z": "bc6d1560.efb27",
        "name": "",
        "source": "",
        "sourceType": "num",
        "target": "",
        "targetType": "num",
        "time": "",
        "samplingrate": "20",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "9f762541.7559b"
            ]
        ]
    },
    {
        "id": "6db72344.383b7c",
        "type": "ramp",
        "z": "bc6d1560.efb27",
        "name": "",
        "source": "0",
        "sourceType": "num",
        "target": "100",
        "targetType": "num",
        "time": "2000",
        "samplingrate": 20,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "bab715de.0d6f6"
            ]
        ]
    },
    {
        "id": "aefdaf44.535d38",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 322,
        "y": 423,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    },
    {
        "id": "bab715de.0d6f6",
        "type": "debug",
        "z": "bc6d1560.efb27",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "8800a32f.28e58",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"source\": 200, \"target\": 300}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    },
    {
        "id": "75c7d297.61411c",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"target\": 1000}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 520,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    },
    {
        "id": "909f6101.28c928",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"target\": 500}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    },
    {
        "id": "a4182db3.a9357",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"target\": 1500}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    },
    {
        "id": "51da3dea.d2b354",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"target\": 1999}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 640,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    },
    {
        "id": "435ca280.cc9afc",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"target\": 2000}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 340,
        "y": 680,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    },
    {
        "id": "23d55da3.edb47a",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"target\": 0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 330,
        "y": 720,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    },
    {
        "id": "c1e83321.d8e5d",
        "type": "inject",
        "z": "bc6d1560.efb27",
        "name": "",
        "topic": "",
        "payload": "{\"target\": [1,2,3,4]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 350,
        "y": 760,
        "wires": [
            [
                "6db72344.383b7c"
            ]
        ]
    }
]